<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/components/project/project.css">
    <link rel="stylesheet" href="/components/header/header.css">
</head>
<body>
    <div id="header"></div>
  
    <div class="text"> 
        <div class="my"> <h2>My <span>Projects</span></h2></div>
  
        <div class="project">
        <div class="card">
            <div class="imgbox">
                <img src="/assets/images/学校官网.png" alt="">
            </div>
            <div class="content">
                <h2>Card One</h2>
                <p>
                  A web project is a set of tasks focused on building and maintaining a website or web application. 
                  It typically involves a combination of front-end and back-end development technologies and encompasses various aspects such as user interface (UI), user experience (UX),
                  server-side logic.
                </p>
            </div>
      </div>
      <div class="card">
        <div class="imgbox">
            <img src="/assets/images/日历.png" alt="">
        </div>
        <div class="content">
            <h2>Card One</h2>
            <p>
              A web project is a set of tasks focused on building and maintaining a website or web application. 
              It typically involves a combination of front-end and back-end development technologies and encompasses various aspects such as user interface (UI), user experience (UX),
              server-side logic.
            </p>
        </div>
  </div>
  <div class="card">
    <div class="imgbox">
        <img src="/assets/images/茶叶.png" alt="">
    </div>
    <div class="content">
        <h2>Card One</h2>
        <p>
          A web project is a set of tasks focused on building and maintaining a website or web application. 
          It typically involves a combination of front-end and back-end development technologies and encompasses various aspects such as user interface (UI), user experience (UX),
          server-side logic.
        </p>
    </div>
</div>


</div>



    </div>
    <script src="../scripts/loadComponent.js"></script>
</body>
</html>