<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.css">
    
</head>
<body>
 


<div class="text">
  <div class="intro">
    <h2>Hi, This is <div><span >Yuezhi-Hao </span><span class="shan">!</span></div></h2>
    <h4><span >IT </span> Student</h4>
    <p>
     Hello,my name is Hao. Nice to meet you. I am currently an IT student at NMIT.
     I am very interested in programming. I wish I could keep learning,Continuing progress.
     I hope to become a good IT professional in the future.
    </p>
        <div class="button">
          <a href="/pages/projects.html">
            View Projects
          </a>
        </div>
      </div>

     

      

    
      <div class="ward">
         <div class="card">
               <div class="border">
                <h5 class="jie">That's me</h5>
    
               </div>
         </div>
        </div>
      


    

</div>



</body>
</html>